/* home.scss */

.page-content {
  padding: 24px;
  overflow-y: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
    color: #ff4655;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

}

/* --- นี่คือส่วนที่แก้ไข --- */
.img-card {
  height: 170px; /* 1. กำหนดความสูงของรูปภาพให้ตายตัว */
  object-fit: cover; /* 2. ทำให้รูปเต็มกรอบและรักษาสัดส่วน (ส่วนเกินจะถูกซ่อน) */
}
/* ------------------------ */

.game-card {
  font-family: 'Kanit', sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

mat-card-header {
  padding-bottom: 0;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

mat-card-content p {
  margin: 8px 0;
  color: #333;
}

mat-card-content .description {
  color: #666;
  margin-top: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.details-button {
  width: 100%;
  background-color: #ff4655;
  color: white;
}
